@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import './reset';
@import './variables';
@import './mixins';

body {
    font-family: $font;
    background-color: $color-background;
    color: $color-font;
    margin: 1.5rem;

    line-height: 130%;
}

.h1 {
    font-size: 2.5rem;
    font-weight: 600;
    text-transform: uppercase;

    span {
        text-transform: capitalize;
    }
}

.h2 {
    font-size: 1.75rem;
    font-weight: 500;
}

.h3 {
    font-size: 1.75rem;
    font-weight: 400;
}

.h4 {
    font-size: 1rem;
    font-weight: 600;
}

p {
    font-size: 1rem;
    font-weight: 400;
}

.small {
    font-size: 0.81rem;
    font-weight: 400;
}

.button {
    display: inline-block;
    padding: 1rem 2rem;
    color: #ffffff;
    background-color: $color-font;
}

a {
    color: $color-font;
}
