@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,400;0,700;1,300&display=swap');
@import './reset';
@import './variables';
@import './mixins';

html {
    font-size: 100%;
    background-color: $colorBackground;
    color: $colorText;
    font-family: $font;
    height: 100%;
    width: 100%;

    body {
        min-height: 100%;
        padding: 2rem;
        @include flex(space-between);
        flex-direction: column;

        * {
            line-height: 150%;
        }

        .h1 {
            font-size: 3rem;
        }
        .h2 {
            font-size: 2.49rem;
        }
        .h3 {
            font-size: 2.07rem;
        }
        .h4 {
            font-size: 1.73rem;
        }
        .h5 {
            font-size: 1.44rem;
        }
        .h6 {
            font-size: 1.19rem;
        }
        .b {
            font-size: 1rem;
        }
        .s {
            font-size: 0.8rem;
        }
        .button {
            padding: 0.8rem 2rem;
            min-width: 10rem;

            &.primary {
                background-color: $colorTheme;
                color: $colorBackground;
                border: none;

            }
            &.secondary {
                border: 1px solid $colorText;
                color: $colorText;
            }
        }
        a {
            color: $colorLink;

            &:hover {
                color: $colorTheme;
            }
        }

        form {
            max-width: 30rem;
            input, textarea, select {
                background-color: $colorBackground;
                border: 1px solid $colorTheme;
                color: $colorText;
                width: 100%;
                margin-bottom: 1.2rem;
            }

            input[type="submit"] {
                padding: 0.8rem 2rem;
                min-width: 10rem;
                background-color: $colorTheme;
                color: $colorBackground;
                border: none;
                font-size: 1rem;
                font-family: $font;
            }
        }

        header {
            width: 100%;
            @include flex(space-between);
            margin-bottom: 2rem;
            h1 {
                span {
                    color: $colorTheme;
                }

                a.theme {
                    color: $colorTheme;
                }
                span.string {
                    color: $colorExtra;
                }
            }
            img, button {
                // todo: DELETE THIS
                display: none;
            }
            a {
                color: $colorText;
            }
            ul {
                @include flex(center);
                gap: 1rem;
                .selected {
                    color: $colorTheme;
                }
            }
        }

        footer {
            @include flex(space-between);
            width: 100%;
            margin-top: 2rem;

            a {
                color: $colorText;
            }
            ul {
                @include flex(center);
                gap: 1rem;
            }
        }
    }
}
