/*  Fonts   */
$font: 'JetBrains Mono', monospace;

/* Colors   */
$colorBackground: #212121;
$colorText: #F8F8F8;
$colorTheme: #FFCB6B;
$colorArticle: #140E0C;
$colorLink: #82AAFF;
$colorExtra: #C792EA;
$colorSuccess: #C3E88D;
$colorError: #F07178;
