@import './general';
@import './media';

header {
    text-transform: uppercase;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid $color-font;

    h1 {
        font-weight: 600;

        span {
            font-weight: 400;
        }
    }

    @include flex(space-between, center);
    margin-bottom: 6.5rem;

    nav {
        @include flex(flex-end, center);
        gap: 2rem;

        ul {
            @include flex(flex-end, center);
            gap: 1.2rem;
        }
    }
}

footer {
    border-top: 1px solid $color-font;
    padding-top: 1.5rem;
    margin-top: 6.5rem;

    section {
        @include flex(space-between, center);
        margin-bottom: 1.5rem;
        p {
            text-transform: uppercase;
            margin-bottom: 0.5rem;
        }
        div ul {
            @include flex(flex-start, center);
            gap: 1rem;

            a {
                text-transform: uppercase;
            }
        }
    }
}
